article {
	display: grid;
	grid-template-columns: repeat(auto-fill, 20em);
	grid-gap: 1em;
	grid-auto-rows: 20em;
	grid-auto-flow: row dense;
	justify-content: center;
}
article td,
article th {
	padding: 0.25em 0.5em;
	width: 3em;
}
article table {
	margin: auto;
}

.tile-block {
	display: block;
	background: hsl(0, 0%, 98%);
	padding: 0 1em;
	overflow: hidden;
	box-shadow: 0 0 1px 1px hsla(0, 0%, 70%, 0.4);
}
.tile-block h2 {
	padding: 0.5em;
}
.tile-block.tile-fullsize {
	padding: 0;
}
.tile-block.tile-fullsize h2 {
	margin: 0;
}
.tile-block.tile-fullsize hr {
	display: none;
}
.tile-block.tile-fullsize:not(:target) img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center top;
}
.tile-block h3,
.tile-block h2 {
	font-size: 1.3em;
	font-weight: bold;
	margin: 0 0 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid hsl(0, 0%, 85%);
	text-align: center;
}
.tile-block img {
	width: auto;
	height: auto;
	max-width: 100%;
	margin: auto;
	display: block;
	box-sizing: border-box;
}
.tile-block table {
	width: 95%;
}
.tile-block:hover {
	box-shadow: -1px -1px 2px 1px hsla(0, 0%, 50%, 0.7);
}
.tile-block:target {
	grid-column-end: span 2;
	grid-row-end: span 2;
	overflow-y: initial;
}
.tile-block.tile-long-list:target {
	grid-row-start: auto;
}
.tile-block hr {
	max-width: 50%;
}

/* expand/collapse */
.tile-expandcollapse {
	cursor: pointer;
	position: relative;
}
.tile-expandcollapse:hover {
	color: hsl(0, 0%, 35%);
}
.tile-expandcollapse::after {
	position: absolute;
	left: auto;
	right: 0;
	top: auto;
	bottom: 0;
	content: "\21f2";
}
.tile-block:target .tile-expandcollapse::after {
	content: "\21f1";
	left: 0;
	right: auto;
	top: 0;
	bottom: auto;
}

/* responsive */
@media (max-width: 40em) {
	article {
		display: flex;
		width: 100%;
		box-sizing: border-box;
		flex-flow: column nowrap;
		align-items: stretch;
		justify-content: flex-start;
	}
	article .tile-block {
		width: 100%;
		box-sizing: border-box;
		margin-bottom: 1em;
		max-height: 20em;
		height: auto;
		flex: 0 1 auto;
	}
	article .tile-block:target {
		max-height: none;
		flex-grow: 1;
	}
	figure > code {
		padding-bottom: 0.5em;
	}
}

@media (max-width: 30em) {
	article.tiled {
		padding-left: 0;
		padding-right: 0;
	}
}
