.hidden.hidden {
	display: none;
}

html {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 10pt;
	line-height: 1.5em;
	background-color: hsl(0, 0%, 93%);
}

/* Placeholders for reference */


/* articles */
table,
tr,
td,
th {
	border: 1px solid black;
	border-collapse: collapse;
}

a {
	color: hsl(0, 0%, 10%);
	text-decoration: none;
	border-bottom: 1px dashed black;
}
a:hover,
a:focus {
	color: hsl(0, 0%, 50%);
	border-bottom-style: solid;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: flex-start;
	min-height: 100vh;
}
header {
	width: 100%;
	text-align: center;
	background: url('/resources/endpoint/banner.png') center center/cover no-repeat, hsl(260, 60%, 30%);
	margin-bottom: 1rem;
}
header h1 {
	margin: 0;
	padding: 1em;
	font-size: 1.8em;
	font-weight: normal;
}
footer {
	margin-top: auto;
}
footer nav,
header nav {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: space-around;
	font-size: 0.9em;
	padding: 0.25em 1em;
	box-sizing: border-box;
	background: black;
}
footer nav {
	padding: 0 1em;
	margin-top: 1rem;
	font-size: 0.9em;
}
footer a,
header a {
	color: hsl(0, 0%, 94%);
	border-bottom-color: transparent;
}
footer a:hover,
footer a:focus,
header a:hover,
header a:focus {
	color: hsl(0, 0%, 100%);
}
article {
	padding: 0 2em;
}

/* fullpage */
article.fullpage {
	display: block;
	background: hsl(0, 0%, 98%);
	padding: 0 2em 1em;
	margin-left: auto;
	margin-right: auto;
	max-width: 50em;
	box-shadow: 0 0 1px 1px hsla(0, 0%, 70%, 0.4);
	overflow-x: hidden;
}
article.fullpage figure img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}
article.fullpage p {
	margin-left: 2em;
	text-indent: 2em;
	text-align: justify;
}
article.fullpage h2,
article.fullpage h3 {
	margin-top: 2em;
}
article.fullpage h3 {
	font-size: 1.2em;
}
article.fullpage h4 {
	font-size: 1.1em;
}
article.fullpage h5 {
	font-size: 1em;
}

a[target="_blank"]::after {
	content: "\a0\2197";
	vertical-align: super;
}

/* encarts */
.encart {
	border-left: 4px solid transparent;
	padding: 1em 0.5em 0.5em 1em;
	background: transparent;
	position: relative;
}
.encart.info::before {
	content: "\2139\fe0f";
}
.encart.info {
	border-left-color: lightblue;
	background: hsla(240, 80%, 80%, 0.05);
}
.encart.warning::before {
	content: "\26a0\fe0f";
}
.encart.warning {
	border-left-color: hsl(0, 80%, 60%);
	background: hsla(0, 80%, 80%, 0.1);
}
.encart.astuce::before {
	content: "\01f4a1";
}
.encart.astuce {
	border-left-color: hsl(130, 80%, 60%);
	background: hsla(130, 70%, 94%, 0.1);
}

/* figures */
figure {
	width: calc(100% - 1em);
	padding: 0.5em 0.5em 0;
	margin: 0;
	background-color: hsla(0, 0%, 0%, 0.03);
}
figure > code {
	display: block;
	overflow-y: auto;
	white-space: pre;
}
figure figcaption {
	text-align: center;
	margin-top: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-top: 1px solid hsl(0, 0%, 80%);
}
p > code {
	background-color: hsla(0, 0%, 0%, 0.03);
}
code {
	font-family: monospace;
}
.bad {
	color: hsl(0, 80%, 60%);
	background: hsla(0, 80%, 50%, 0.03);
}
.bad:hover {
	text-decoration: line-through;
}
.good {
	color: hsl(120, 70%, 30%);
	background: hsla(120, 70%, 30%, 0.1);
}

@media (max-width: 55em) {
	article.fullpage {
		margin-left: 0;
		margin-right: 0;
		max-width: none;
		width: 100%;
		box-shadow: 0 0 1px 1px hsla(0, 0%, 70%, 0.4);
		box-sizing: border-box;
	}
}
@media (max-width: 30em) {
	article.fullpage {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
	article.fullpage p {
		margin-left: 0;
	}
}
